@import url(https://fonts.googleapis.com/css?family=Dosis:700);

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700;800&display=swap');

:root {
    /* Variablen */
    /* Colors */
    --color: OldLace;
    --color2: #f9f7f1;
    --color: #bdc3c7;
    --color-background: #dedbcf;
    --color-primary: #2f2f2f;
    --color-secondary: rgba(47, 47, 47, 0.7);

    /*color header*/
    --color-header-title: var(--color-primary);
    --color-border-earth: var(--color-primary);
    --color-text-percentage: rgb(215, 40, 40);
    /*earth*/
    --color-gradient-start: rgba(85, 85, 85, 0.5);
    --circle-fill: rgb(0, 0, 0);
    /*color countries*/
    --color-country: var(--color-secondary);
    --color-country-active: var(--color-primary);
    /*color info*/
    --color-info: var(--color-primary);
    --color-info-specific: var(--color-primary);
    /*selected year*/
    --color-selected-year: var(--color-primary);
    --color-border-selected-year: var(--color-secondary);


    /*legende*/
    --color-legend-1: rgba(6, 55, 30, 0.7);
    --color-legend-2: rgba(6, 115, 200, 0.7);
    --color-legend-3: rgba(255, 55, 30, 0.7);
    --color-legend-4: rgba(28, 91, 76, 0.7);
    --color-legend-5: rgba(110, 55, 30, 0.7);
    --color-border-legends: var(--color-secondary);


    /*color range*/
    --color-slider: var(--color-secondary);
    --color-slider-thumb: var(--color-primary);
    --color-year-limit: var(--color-primary);
    /* --color-font: #404040;*/
    /*--color-white: #3a3737;*/

    /* Font sizes */

    --font-size-title: 10vmin;
    --font-size-active: 9vmin;
    --font-size-show: 32px;
    /*country*/
    --font-size-country-active: 9vmin;
    --font-size-country-active-mobile: inherit;
    --font-size-year: 3vmin;
    --font-size-selectedYear: 10vmin;
    --font-size-selectedYear-mobile: 14vmin;

    /*info legende*/
    --font-size-paragraf: 2.7vmin;
    /*font family*/
    --font-family1: "Dosis", Helvetica, Arial, sans-serif;

    /*earth chart*/
    --earth-chart-widthheight: 55vmin;
    --earth-chart-widthheight-sm: 48vmin;


    /* Other Variables */
    --show-percentage: "0%";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family1);
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;




}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 1vmin 0;
    color: #2f2f2f;
    font-size: var(--font-size-paragraf);
}

/*
.logol {
    scale: 2.5;
    position: absolute;
    left: 75vw;
    top: 60vh;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: -100;
}
*/


.main-grid-container {
    display: grid;
    grid-template-columns: 4vmin 1fr max-content 1fr 4vmin;
    grid-template-rows: 4vmin max-content max-content max-content max-content 4vmin;
    gap: 2vmin 1vmin;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . ."
        ". earth header chart. "
        ". earth countries chart ."
        ". info selected-year legends ."
        ". . footer . ."
        ". . . . .";
    width: 100vw;
    height: 100vh;
}


/*
 header
*/
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmin;
}

.header .logo {

    scale: 0.7;
}

.header .title {
    color: var(--color-header-title);

    font-size: var(--font-size-title);
    font-weight: 800;
}

/*
 earth
 */
.earth {
    grid-area: earth;
    display: flex;
    justify-content: center;
    align-items: center;
}


.earth_container {
    width: var(--earth-chart-widthheight);
    height: var(--earth-chart-widthheight);
    transition: all 2s ease-out;

}

.earth_container::before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border-radius: 100%;
    z-index: -1;

    background-image: linear-gradient(0deg,
            var(--color-gradient-start) var(--circle-fill),
            transparent var(--circle-fill));

}

/*
.earth_container::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -58%);
    content: "";
    width: 40vmin;
    height: 40vmin;
    border-radius: 100%;
    background-color: rgba(47, 47, 47, 0.17);
    z-index: -1;

    transition: all .5s ease-out;
}
*/
.earth_container #earth {
    border: 4px solid var(--color-border-earth);
    position: relative;
    width: inherit;
    height: inherit;
    margin: auto;
    border-radius: 100%;
    background: transparent url("https://pngimg.com/uploads/world_map/world_map_PNG1.png");
    background-size: cover;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.earth_container #show {
    margin: 0;
    transform: translateY(-70px);
    color: var(--color-text-percentage);
    text-align: center;
    font-size: var(--font-size-show);
}

/*
 countries
  */

.countries {
    grid-area: countries;
}

.countries-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.countries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    padding: 1vmin;
}


.country {

    transform: rotateY(0deg) translateZ(0px);
    transition: opacity 0.5s, transform 0.5s;
    padding: 1vmin;
    cursor: pointer;
    font-size: 4vmin;
    color: var(--color-country);
    font-variant: small-caps;
    padding: 5px 0;
    letter-spacing: 10px;
    transition: all .3s ease-out;
}


.country.active {
    padding: 5px;
    font-size: var(--font-size-country-active);
    opacity: 1;
    transform: rotateY(0deg) translateZ(100px);

    color: var(--color-country-active);
    font-weight: 700;
}


/*
 chart
*/

.chart {
    grid-area: chart;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    width: var(--earth-chart-widthheight);
    height: var(--earth-chart-widthheight);
}

/*
 infos
*/
.info {
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "rank"
        "population"
        "co2-Emissions";
}

.info-grid-container p {
    color: var(--color-info);

}

.rank {
    grid-area: rank;
}

#rank {
    color: var(--color-info-specific);
}

.population {
    grid-area: population;
}

#population {
    color: var(--color-info-specific);
}

.co2-Emissions {
    grid-area: co2-Emissions;
}

#co2_tonnen {
    color: var(--color-info-specific);
}

/*selected year*/

.selected-year {
    grid-area: selected-year;
    border-left: 4px dashed var(--color-border-selected-year);
    border-right: 4px dashed var(--color-border-selected-year);

}

.selectedYear {

    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedYear #selectedYear {
    font-weight: bold;
    font-size: var(--font-size-selectedYear);

    color: var(--color-selected-year);

}

/*
legends
*/

.legends {
    grid-area: legends;

    display: flex;
    justify-content: center;
    align-items: center;
}

.legends-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 12vmin;
    grid-template-areas:
        "legend1 legend2"
        "legend3 legend4"
        "legend5 legend5";
}

.legend1 {
    grid-area: legend1;
    display: flex;
    align-items: center;
    gap: 1vmin;
}

.legend2 {
    grid-area: legend2;
    display: flex;
    align-items: center;
    gap: 1vmin;
}

.legend3 {
    grid-area: legend3;
    display: flex;
    align-items: center;
    gap: 1vmin;
}

.legend4 {
    grid-area: legend4;
    display: flex;
    align-items: center;
    gap: 1vmin;
}

.legend5 {
    grid-area: legend5;
    display: flex;
    align-items: center;
    gap: 1vmin;
}

.legends .color {
    width: 3vmin;
    height: 3vmin;
    border-radius: 100%;
    border: 2px solid var(--color-border-legends);
}

.legend1 .color-1 {
    background-color: var(--color-legend-1);
}

.legend2 .color-2 {
    background-color: var(--color-legend-2);
}

.legend3 .color-3 {
    background-color: var(--color-legend-3);
}

.legend4 .color-4 {
    background-color: var(--color-legend-4);
}

.legend5 .color-5 {
    background-color: var(--color-legend-5);
}

/*
footer
*/
.footer {
    grid-area: footer;
}

.years-container {
    width: 90%;
    margin: auto;
}

.years-container .rang-slider[type="range"] {
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-slider);
    border-radius: 100px;
    -webkit-appearance: none;
}

.years-container .rang-slider[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 100px;
}

.years-container .rang-slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--color-slider-thumb);
    border-radius: 100%;
    transform: translateY(-5px);
    cursor: pointer;
    transition: all .3s ease-out;

}

.years-container .rang-slider[type="range"]::-webkit-slider-thumb:hover {
    scale: 1.3;
}

.years-container .years {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    width: 104%;
    transform: translateX(-9px);
}

.years-container .years .year {
    color: var(--color-year-limit);
    font-size: var(--font-size-year);
    text-align: center;
    font-weight: bolder;
    font-variant: small-caps;
}


@media screen and (max-width:769px) {

}

@media screen and (max-width:576px) {


    .main-grid-container {
        display: grid;
        grid-template-columns: 0vmin 1fr 1fr 0vmin;
        grid-template-rows: 3vmin 1fr 1fr 1fr 1fr 1fr 1fr 3vmin;
        gap: 1vmin 1vmin;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . ."
            ". header header ."
            ". countries countries ."
            ". earth chart ."
            ". info legends ."
            ". selected-year selected-year ."
            ". footer footer ."
            ". . . .";
        width: 100vw;
        height: 100vh;

    }

    .earth_container {
        width: var(--earth-chart-widthheight-sm);
        height: var(--earth-chart-widthheight-sm);
        transition: all 2s ease-out;
    
    }
    .chart-container {
        width: var(--earth-chart-widthheight-sm);
        height: var(--earth-chart-widthheight-sm);
    }
    .countries-grid-container {
        flex-direction: row;
    }

    .countries {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1vmin;
    }

    .country {

        transform: rotateY(0deg) translateZ(0px);
        transition: opacity 0.5s, transform 0.5s;
        padding: 1vmin;
        cursor: pointer;
        font-size: 4vmin;
        color: var(--color-country);
        font-variant: small-caps;
        padding: 5px 0;
        letter-spacing: 5px;
        transition: all .3s ease-out;
    }


    .country.active {

        font-size: 4vmin;
        opacity: 1;
        transform: translateY(0px) translateZ(0px);

        color: var(--color-country-active);

    }

    .legends-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 0px 4vmin;
        grid-template-areas:
            "legend1 legend2"
            "legend3 legend4"
            "legend5 legend5";
    }

    .selected-year {
        grid-area: selected-year;
        border: none;

    }

    .selectedYear #selectedYear {
        font-size: var(--font-size-selectedYear-mobile);
        color: var(--color-selected-year);
    }
}