@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* Variablen */
  /* Colors */
  /* Colors */
  --show-percentage: "0%";
}

body {
  background: #5ac9ab;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lexend", sans-serif;
  color: #000000;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 90px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Lexend", sans-serif;
}

p {
  font-family: "Lexend", sans-serif;
  color: #848b9f;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.main header {
  height: 60px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .earth_container {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*
  &::after {
    content: $show-percentage;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: $color-showPercentage;
    font-weight: 700;
    font-size: 2.2rem;
  }
  */
}
.main .earth_container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 100%;
  z-index: -1;
  background-image: linear-gradient(0deg, rgba(132, 21, 21, 0.733) var(--circle-fill), transparent var(--circle-fill));
  box-shadow: 0 0 0 rgba(132, 21, 21, 0.733);
  animation: pulse 2s ease-in-out infinite;
}
.main .earth_container #earth {
  border: 4px solid #000;
  overflow: hidden;
  position: relative;
  width: inherit;
  height: inherit;
  margin: auto;
  border-radius: 100%;
  background: transparent url("https://pngimg.com/uploads/world_map/world_map_PNG1.png");
  background-size: cover;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
}
.main .earth_container #earth svg {
  height: inherit;
  transform-style: preserve-3d;
  animation: move-svg 15s linear infinite;
}
@keyframes move-svg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 530px 0;
  }
}
.main #myChart {
  width: 250px;
  height: 250px;
}
.main #show {
  margin: 0;
  transform: translateY(-70px);
  color: rgb(84, 10, 48);
  text-align: center;
  font-size: 32px;
}
.main .countries {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.main .countries .country {
  color: #fff;
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
}
.main .countries .active {
  color: #02332c;
  font-size: 20px;
  transition: font-size 0.2s ease-in;
}
.main .chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .selectedYear {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .selectedYear #selectedYear {
  position: absolute;
  bottom: -8px;
  font-weight: bold;
  font-size: 430px;
  z-index: -100;
  opacity: 0.5;
}
.main .rang-slider[type=range] {
  width: 100%;
  margin-top: 10px;
  -webkit-appearance: none;
}
.main .rang-slider[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  border-radius: 100px;
  background-color: #148c7c;
  cursor: pointer;
}
.main .rang-slider[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #045953;
  border-radius: 100%;
  transform: translateY(-5px);
}
.main .years {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  width: 103%;
  transform: translateX(-12px);
}
.main .years .year {
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  font-variant: small-caps;
}/*# sourceMappingURL=style.css.map */