@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-background: rgb(90, 201, 171);
$color-font-primary: #000000;
$color-font-secondary: #ffffff36;
$color-showPercentage: rgb(142, 233, 219);
$color-range-thump: #045953;
$color-range-track: #458865;
$circle-fill-background: #06371ea2;
$show-percentage: "0%";
$font-family: "Lexend", sans-serif;
$color-active: rgba(0, 0, 0, 0.775);
$earthWidthHight: 350px;
$chart-height: $earthWidthHight;
$chart-width: $earthWidthHight;

:root {
  /* Variablen */
  /* Colors */
  /* Colors */
  --show-percentage: "0%";
}

body {
  background: $color-background;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lexend", sans-serif;
  color: $color-font-primary;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 90px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Lexend", sans-serif;
}

.main {
  header {
    height: 60px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .earth_container {
    width: $earthWidthHight;
    height: $earthWidthHight;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before {
      position: absolute;
      content: "";
      width: inherit;
      height: inherit;
      border: 4px solid #000;
      border-radius: 100%;
      z-index: -1;
      background-image: linear-gradient(
        0deg,
        $circle-fill-background var(--circle-fill),
        transparent var(--circle-fill)
      );
    }

    #earth {
      border: 4px solid #000;

      position: relative;
      width: inherit;
      height: inherit;
      margin: auto;
      border-radius: 100%;
      background: transparent
        url("https://pngimg.com/uploads/world_map/world_map_PNG1.png");

      background-size: cover;
      transform-style: preserve-3d;
      animation: rotate 2s linear infinite;
      /*
      svg {
        height: inherit;
        transform-style: preserve-3d;
        animation: move-svg 4s linear infinite;
      }*/
    }
    /*
    @keyframes move-svg {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(100%);
      }
    }
*/
    @keyframes rotate {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: -100% 0;
      }
    }

    #show {
      margin: 0;
      transform: translateY(-70px);
      color: $color-showPercentage;
      text-align: center;
      font-size: 32px;
    }

    /*
    &::after {
      content: $show-percentage;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: $color-showPercentage;
      font-weight: 700;
      font-size: 2.2rem;
    }
  */
  }

  .countries {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    .country {
      color: #fff;
      cursor: pointer;
      font-size: large;
      font-weight: bolder;
    }

    .active {
      color: $color-active;
      font-size: 60px;
      transition: font-size 0.2s ease-in;
      padding-top: 30px;
      order: 4;
    }
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    #myChart {
      height: $chart-height;
      width: $chart-width;
    }
  }
  .legende {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .legende-rows {
      display: flex;

      width: 70%;
      .legend {
        .color {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: #045953;
          border: 2px solid #fff;
        }
        p {
          margin: 0;
          padding-left: 5px;
        }
      }
    }
  }
  //years-container
  .years-container {
    width: 90%;
    margin: auto;

    .rang-slider[type="range"] {
      width: 100%;
      margin-top: 10px;
      background-color: $color-range-track;
      border-radius: 100px;
      -webkit-appearance: none;

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        border-radius: 100px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background-color: $color-range-thump;
        border-radius: 100%;
        transform: translateY(-5px);
        cursor: pointer;
      }
    }

    .years {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;
      width: 101%;
      transform: translateX(-10px);

      .year {
        font-size: 12px;
        text-align: center;
        font-weight: bolder;
        font-variant: small-caps;
      }
    }
  }
  .selectedYear {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    #selectedYear {
      font-weight: bold;
      font-size: 460px;
      opacity: 0.5;
    }
  }
}
